.header__link {
    padding: 23px;
    opacity: .7;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-decoration: none;
    transition: all 0.5s;
}

.header__link:hover {
    background-color: #FFF;
    color: #1E88E5;
}

.header__link_active {
    background-color: #1E88E5;
    opacity: 1;
}